<h1>New User!</h1>

<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <label for="user_username">Username</label>
  <input
    type="text"
    name="user[name]"
    value="<%= @user.name %>"
    id="user_username">

  <label for="user_password">Password</label>
  <input
    type="password"
    name="user[password]"
    id="user_password">

  <label for="user_city">City</label>
  <input
  type="text"
  name="user[city]"
  id="user_city">

  <input type="submit">
</form>
